# Assignment 3

## Question 1

In [1]:
import pandas as pd
import numpy as np

In [75]:
energy = pd.read_excel("Datasets/EnergyIndicators.xls", header=None)
energy = energy[18:245].reset_index().rename(columns={2: 'country', 3: 'Energy Supply', 4: 'Energy Supply per Capita', 5: '% Renewable'})
energy.drop({'index', 0, 1}, inplace=True, axis=1)
energy['Energy Supply'] = np.where(energy['Energy Supply']=='...', np.nan, energy['Energy Supply'])
energy['Energy Supply per Capita'] = np.where(energy['Energy Supply per Capita']=='...', np.nan, energy['Energy Supply per Capita'])
energy['Energy Supply'] = energy['Energy Supply'] * 10**6
energy.head(30)

,country,Energy Supply,Energy Supply per Capita,% Renewable
0,Afghanistan,321000000,10,78.66928
1,Albania,102000000,35,100
2,Algeria,1959000000,51,0.55101
3,American Samoa,NaN,NaN,0.641026
4,Andorra,9000000,121,88.69565
5,Angola,642000000,27,70.90909
6,Anguilla,2000000,136,0
7,Antigua and Barbuda,8000000,84,0
8,Argentina,3378000000,79,24.06452
9,Armenia,143000000,48,28.23606
10,Aruba,12000000,120,14.87069
11,Australia1,5386000000,231,11.81081
12,Austria,1391000000,164,72.45282
13,Azerbaijan,567000000,60,6.384345
14,Bahamas,45000000,118,0
15,Bahrain,574000000,425,0
16,Bangladesh,1625000000,10,1.966329
17,Barbados,19000000,69,0
18,Belarus,1142000000,120,0.463389
19,Belgium,2338000000,210,9.959739
20,Belize,13000000,39,64.69003
21,Benin,170000000,16,0
22,Bermuda,6000000,88,0
23,Bhutan,63000000,83,100
24,Bolivia (Plurinational State of),336000000,32,31.47712
25,"Bonaire, Sint Eustatius and Saba",5000000,213,0
26,Bosnia and Herzegovina,266000000,70,41.46467
27,Botswana,86000000,39,0.131406
28,Brazil,12149000000,59,69.64803
29,British Virgin Islands,2000000,85,0

In [76]:
energy['country'] = energy['country'].replace('\d*', '',regex=True)
energy['country'] = energy['country'].replace('\s*\(.*\)', '', regex=True)
energy[43:]

,country,Energy Supply,Energy Supply per Capita,% Renewable
43,"China, Hong Kong Special Administrative Region",585000000,82,0
44,"China, Macao Special Administrative Region",47000000,83,0
45,Colombia,1513000000,32,63.00284
46,Comoros,5000000,7,11.62791
47,Congo,102000000,23,57.74887
...,...,...,...,...
222,Viet Nam,2554000000,28,45.32152
223,Wallis and Futuna Islands,0,26,0
224,Yemen,344000000,13,0
225,Zambia,400000000,26,99.71467
226,Zimbabwe,480000000,32,52.53612

In [77]:
old_names = ["Republic of Korea", "United States of America",
                 "United Kingdom of Great Britain and Northern Ireland", 
                 "China, Hong Kong Special Administrative Region"]
new_names = ["South Korea", "United States", "United Kingdom", "Hong Kong"]
energy['country'] = energy['country'].replace(old_names,new_names)
energy[43:]

,country,Energy Supply,Energy Supply per Capita,% Renewable
43,Hong Kong,585000000,82,0
44,"China, Macao Special Administrative Region",47000000,83,0
45,Colombia,1513000000,32,63.00284
46,Comoros,5000000,7,11.62791
47,Congo,102000000,23,57.74887
...,...,...,...,...
222,Viet Nam,2554000000,28,45.32152
223,Wallis and Futuna Islands,0,26,0
224,Yemen,344000000,13,0
225,Zambia,400000000,26,99.71467
226,Zimbabwe,480000000,32,52.53612

In [5]:
GDP = pd.read_csv('Datasets/API/API_NY.csv')
GDP.head()

ParserError: Error tokenizing data. C error: Expected 3 fields in line 5, saw 67